body {
  font-family: Tahoma;
  font-weight: 400;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #9b3aef;
  cursor: pointer;
}

a:hover {
  color: #561d88;
}
